@use '../util' as *;

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  @include breakpoint(tablet) {
    flex-direction: row;
    background-color: var(--clr-white);
    border-radius: rem(15);
    max-width: calc(100% - rem(82));
    height: rem(600);
    margin-block-start: rem(105);
    margin-inline: rem(41);
    justify-content: space-between;
  }

  @include breakpoint(desktop) {
    max-width: rem(940);
    margin-inline: auto;
    justify-content: space-between;
  }
}
