@use 'sass:map';

// 768px, 1024px
$breakpoints: (
  'tablet': '28.125em',
  'desktop': '64em',
);

@mixin breakpoint($size) {
  @media (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}
