@use '../util' as *;

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(24);
  margin-block-start: rem(-75);
  margin-inline: rem(16);
  padding: rem(31.5) rem(24);
  background-color: var(--clr-white);
  border-radius: rem(10);
  box-shadow: 0 rem(4) rem(4) 0 rgba(0, 0, 0, 0.25);

  h2 {
    font: var(--text-preset-2);
    margin-block-end: rem(8);
  }

  p {
    font: var(--text-preset-3-regular);
    color: var(--clr-gray-500);
  }

  &-group {
    display: flex;
    flex-direction: column;
    gap: rem(8);
    margin-block-end: rem(16);

    label {
      font: var(--text-preset-5);
    }
  }

  &-control {
    display: flex;
    align-items: center;
    height: rem(40);
    padding-inline: rem(16);
    border: rem(1) solid var(--clr-purple-200);
    font: var(--text-preset-4-medium);
    border-radius: rem(4);

    &::placeholder {
      color: var(--clr-gray-500);
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--clr-white);
    padding: rem(16);
  }

  @include breakpoint(tablet) {
    position: relative;
    box-shadow: none;
    margin: 0;
    border-radius: 0 rem(15) rem(15) 0;

    &__buttons {
      position: absolute;
    }
  }
}
