@use '../util' as *;

.sidebar {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  background-image: url('../../images/bg-sidebar-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: rem(172);
  gap: rem(16);
  width: 100%;
  padding-block-start: rem(32);
  position: relative;

  @include breakpoint(tablet) {
    &-container {
      background-color: var(--clr-white);
      border-radius: rem(15) 0 0 rem(15);
      padding: rem(15);
      width: 100%;
      flex: 0 0 35%;
    }

    justify-content: flex-start;
    align-items: flex-start;
    background-image: url('../../images/bg-sidebar-desktop.svg');
    overflow: hidden;
    padding: rem(40) rem(24);
    height: 100%;
    flex-direction: column;
    border-radius: rem(15);
  }

  @include breakpoint(desktop) {
    &-container {
      flex: 0 0 32.5%;
    }
  }
}
